
<div class="sidenav" style="height:100%">
  <div class="home-divs-display grid-container" style="width:100%">
    <div class="card home-div" style="width:50%;">
      <div class="card-body card-body-c">
            <h5 class="card-title card-header-c">Table of Contents</h5>
      </div>
      <div>
        <div class="card card-c">
          <table class="students-table" style="background-color:white" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
              <td>
                 <div style="width:100%; min-height: 0px;  max-height:100%;  overflow:auto;">
                   <table id="customers" cellspacing="0" cellpadding="3" width="100%" style="text-align:left" >
                    <tr *ngFor="let option of option2">
                      <td>{{option.id}}</td>
                      <td>{{option.description}}</td>
                    </tr>
                   </table>  
                 </div>
              </td>
            </tr>
          </table>
           <br>
        </div>
        <div>
        </div>
      </div>
      
    </div>
    <br class="break-div">
    <div class="card home-div" style="width:100%;">
      <div class="card-body card-body-c" style="width:100%">
        <div class="left-align-title" style="width:100%">
          <div class="header-image">
            <div class="guideline-header-text" style="text-align:center; color:black; font-family:Georgia, 'Times New Roman', Times, serif">
              <h1>INTRODUCTION</h1>
            </div>
          </div>
        </div>
      </div>
      <div style="display:contents;">
        <div class="card card-c" style="height:500px; overflow:scroll">
          <hr>
          
          <h6 class="card-title card-header-c"></h6>
          <div class="title">
              <div class="student-card-home-notification">
              </div> 
          </div>
          <h6 class="card-title card-header-c" ></h6>
           <div>
                
          </div>
           <br>
        </div>
        <div>
        </div>
      </div>
    </div>
    <br class="break-div">
  </div>

</div>