body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .sidenav {
    user-select: none;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(222, 222, 222, 0.489);
    overflow-x: hidden;
    border-right: 1px solid rgb(237, 237, 237);
  }

  .sidenav a {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 8px 15px 8px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
  }
  .sidenav a#login-as-guest:focus{ background-color: yellow; }

  .sidenav label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .svg-custom{
    fill:green;
    padding: 5px 5px;
  }

  .sidenav a:focus{
    background-color: #818181;
    border-left: 1px solid grey;
  }
  .sidenav a:hover{
    /* background-color:rgb(0, 170, 255); */
    /* border-right: 2px solid grey; */
    background-color: white;
  }
  .fixed-top{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 1px;

  }
  .fixed-top a:hover{
    background-color: rgb(248, 248, 248);
  }

  .fixed-top:hover{
    background-color: rgb(248, 248, 248);
  }
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav {padding-bottom: 15px;}
    .sidenav a {font-size: 10px;}
  }
