<div class="sidenav">
  <div class="home-divs-display grid-container">
    <app-student-card></app-student-card>
    <br class="break-div">
    <app-student-project></app-student-project>
    <br class="break-div">
    <app-students-projects></app-students-projects>
    <br class="break-div">
    <app-home-toolbox></app-home-toolbox>
    <br class="break-div">
    <app-home-forum></app-home-forum>
    <br class="break-div">
    <app-home-account></app-home-account>
    <br class="break-div">
  </div>

</div>

