<app-student></app-student>
<div style="background-color:white; width:100%; position:fixed; padding-top:150px; z-index: -1">
  <div style="display:inline-flex; padding-left:75px; width:100%">
    <div style="width:50%;height:90%; overflow: scroll;">
      <div class="mail-list-class">
        <div style="color:grey; font-size: 12px;padding-bottom: 5px;">{{totalMessages}} Mails</div>
        <div *ngFor="let mail of userMails; " class="mail-list-class-message-item">
          <div class="mail-list-class-message-description-status">{{mail.status}}</div>
          <div class="mail-list-class-message-description-from">{{mail.from}}</div>
          <div class="mail-list-class-message-description-subject">{{mail.subject}}</div>
          <div class="mail-list-class-message-description-date">{{mail.date}}</div>
          <div class="mail-list-class-message-description-reply">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div style="width:100%;">
      <div class="send-message-card" style="width: 90%;margin-left:auto; margin-right:auto;">
        <br class="remove-user-select">
        <div style="display:inline-flex; width:100%">
          <div class="card-title" style="width:100%; color:rgb(27, 27, 27); font-size: 20px;" >
            Replying to
          </div>
          <div>
            <button type="button" style="margin-left: 10px;align-items: left;" class="btn btn-primary btn-sm" >Compose</button>
          </div>
        </div>

        <br class="remove-user-select">

        <br class="remove-user-select">
        <div>
          <h3 class="card-title" style="color:#919191; font-size: 11px; margin: 0 0 -5px;">
            Subject
          </h3>
          <input  type="text" class="form-control  input_table" placeholder="Message Subject" aria-label="message subject" aria-describedby="basic-addon2">
        </div>
        <div>
          <div>
            <h3 class="card-title" style="color:#919191; font-size: 11px; margin: 0 0 -5px;padding-top: 10px">
              Message
            </h3>
          </div>
          <div>
            <textarea class="form-control text-area-message" placeholder="Write message here... " rows="13"></textarea>
          </div>
          <br class="remove-user-select">
          <div>
            <button type="button" style="margin-left: 10px;" class="btn btn-primary btn-sm" >Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

