<app-student></app-student>
<div style="background-color:white; width:100%">
  <div style="display:inline-flex; padding-left:75px; width:100%">
    <div style="width:50%;height:90%; overflow: scroll;">
      <div style="padding-bottom: 50px;padding-top:6px;overflow: scroll;height:40rem;width:100%; user-select: none; cursor: pointer; background-color: #f2f1f1;padding-left: 5px;">
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(158, 230, 158); color:green; width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">new</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(231, 231, 231); color:rgb(97, 97, 97); width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">in</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(231, 231, 231); color:rgb(97, 97, 97); width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">sent</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(158, 230, 158); color:green; width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">new</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(231, 231, 231); color:rgb(97, 97, 97); width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">in</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(231, 231, 231); color:rgb(97, 97, 97); width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">sent</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(158, 230, 158); color:green; width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">new</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(231, 231, 231); color:rgb(97, 97, 97); width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">in</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(231, 231, 231); color:rgb(97, 97, 97); width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">sent</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(158, 230, 158); color:green; width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">new</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(231, 231, 231); color:rgb(97, 97, 97); width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">in</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
        <div style="display:inline-flex; width: 100%; border-bottom: 1px solid rgb(221, 221, 221);background-color: #f5f5f5;">
          <div style="background-color:rgb(231, 231, 231); color:rgb(97, 97, 97); width:20px; text-align: center; width:20%;padding-top: 5px; padding-bottom: 5px;">sent</div>
          <div style="width:50%; padding-top: 5px; padding-bottom: 5px; padding-left:5px">Shiko Matlala</div>
          <div style="width:100%; padding-top: 5px; padding-bottom: 5px;">MVP Definition Alumni.pptx</div>
          <div style="width:50%;text-align:center; padding-top: 5px; padding-bottom: 5px;">27 Oct 2022</div>
          <div style="width:10%;text-align: center;padding-right:10px; padding-top: 5px; padding-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="grey"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div style="width:100%;">
      <div class="send-message-card">
        <br class="remove-user-select">
        <div class="card-title" style="width:100%; color:rgb(27, 27, 27); font-size: 20px;" >
          Replying to
        </div>
        <br class="remove-user-select">
        <div>
          <h3 class="card-title" style="color:#919191; font-size: 11px; margin: 0 0 -5px;">
            Subject
          </h3>
          <input  type="text" class="form-control  input_table" placeholder="Message Subject" aria-label="message subject" aria-describedby="basic-addon2">
        </div>
        <div>
          <div>
            <h3 class="card-title" style="color:#919191; font-size: 11px; margin: 0 0 -5px;padding-top: 10px">
              Message
            </h3>
          </div>
          <div>
            <textarea class="form-control text-area-message" placeholder="Write message here... " rows="13"></textarea>
          </div>
          <br class="remove-user-select">
          <div>
            <button type="button" style="margin-left: 10px;" class="btn btn-primary btn-sm" >Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

