<div class="card home-div">
    <div class="card-body card-body-c">
          <h5 class="card-title  card-header-c"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"  fill="grey"><path d="M4 20q-.825 0-1.412-.587Q2 18.825 2 18V6q0-.825.588-1.412Q3.175 4 4 4h5.175q.4 0 .763.15.362.15.637.425L12 6h8q.825 0 1.413.588Q22 7.175 22 8H6q-.825 0-1.412.587Q4 9.175 4 10v8l1.975-6.575q.2-.65.738-1.038Q7.25 10 7.9 10h12.9q1.025 0 1.613.812.587.813.312 1.763l-1.8 6q-.2.65-.737 1.038Q19.65 20 19 20Z"/></svg>
            Student Projects</h5>
    </div>
    <div>
      <div class="card card-c">
        <h6 class="card-title card-header-c">Projects Under Your Supervision</h6>
        <div class="student-card-home-notification" style="padding-left:0">
          0 Total Number of Projects
        </div>
        <br>
        <table class="students-table" style="background-color:white" cellspacing="0" cellpadding="0" border="0" width="100%">
          <tr>
            <td>
               <table id="customers" width="100%" style="text-align:left" >
                <tr style="background-color:aliceblue">

                  <th>Project Name</th>
                  <th><svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="grey"><path d="M5 19q-.425 0-.713-.288Q4 18.425 4 18t.287-.712Q4.575 17 5 17h1v-7q0-2.075 1.25-3.688Q8.5 4.7 10.5 4.2v-.7q0-.625.438-1.062Q11.375 2 12 2t1.062.438q.438.437.438 1.062v.7q2 .5 3.25 2.112Q18 7.925 18 10v7h1q.425 0 .712.288.288.287.288.712t-.288.712Q19.425 19 19 19Zm7 3q-.825 0-1.412-.587Q10 20.825 10 20h4q0 .825-.587 1.413Q12.825 22 12 22Z"/></svg></th>
                </tr>
               </table>
            </td>
          </tr>
          <tr>
            <td>
               <div style="width:100%; min-height: 0px;  max-height:110px;  overflow:auto;">
                 <table id="customers" cellspacing="0" cellpadding="3" width="100%" style="text-align:left" >
                  <tr>
                    <td>1</td>
                    <td>Project Synergy</td>
                    <td class="badge bg-primary">1</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Pure Panther</td>
                    <td class="badge bg-primary">1</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Solid Alpha</td>
                    <td class="badge bg-primary">1</td>
                  </tr>

                  <tr>
                    <td>1</td>
                    <td>Honeycomb</td>
                    <td class="badge bg-primary">1</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Shiko Matlala</td>
                    <td class="badge bg-primary">1</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Shiko Matlala</td>
                    <td class="badge bg-primary">1</td>
                  </tr>
                 </table>  
               </div>
            </td>
          </tr>
        </table>
         <br>
      </div>
      <div>
      </div>
    </div>
  </div>